body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    color: seashell;
    background-color: black;
    font-size: 22px;
    text-align: center;
}

a {
    color: seashell;
}

h2 h3 h4 {
    margin: 0;
    padding: 10px;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

header {
    width: 100%;
    z-index: 1;
    height: 69px;
    border-bottom: 1px solid seashell;
    background-color: black;
    align-items: center;
}

header img {
    min-height: 50px;
    padding-left: 10px;
}

nav {
    text-align: right;
    flex-grow: 1;
}

nav span {
    display: inline-block;
    padding: 20px 10px;
}

#mission {
    height: 700px;
    background-image: url(img-mission-background.jpg);
    background-size: cover;
    padding: 70px;
}

#mission .content {
    margin: auto;
    background-color: black;
    width: 100%;
}

#store {
    height: 700px;
    width: 1000px;
    margin: auto;
    padding-top: 70px;
}

.item {
    padding: 5px;
}

.item img {
    height: 200px;
    margin: 10px;
    display: block;
}

.item span {
    display: block;
    padding: 5px;
    font-weight: bold;
    text-align: center;
}